<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
            integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
            crossorigin="anonymous"
        />
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/32bbe7b7c6.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.0/dist/jdenticon.min.js"
            integrity="sha384-VngWWnG9GS4jDgsGEUNaoRQtfBGiIKZTiXwm9KpgAeaRn6Y/1tAFiyXqSzqC8Ga/"
            crossorigin="anonymous"
        ></script>
        <title>Dogechat</title>
        <script src="/socket.io/socket.io.js" defer></script>
        <script>
            const UserName = "<%= username %>";
            const FullName = "<%= name %>";
        </script>
        <script src="script.js" defer></script>
        <link rel="stylesheet" href="style.css" />
        <style>
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2.5px grey;
                border-radius: 5px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: gray;
                border-radius: 5px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #b30000;
            }

            body {
                background-color: #1f1f1f;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='408' height='408' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235f5f5f' stroke-width='3.7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233f3f3f'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
            }
        </style>
    </head>
    <body>
        <div style="display: flex">
            <div
                style="
                    width: 20rem;
                    display: grid;
                    background: #1f1f1f;
                    box-shadow: rgba(0, 0, 0, 0.4) 2px 0px 3px;
                    color: gainsboro;
                    grid-template-rows: 1fr auto;
                "
            >
                <div
                    style="width: 20rem; overflow-y: auto"
                    id="user-list"
                ></div>
                <div style="text-align: center; padding: 5px 0px 5px 0px">
                    <button
                        class="ui button primary"
                        onclick="window.location.href='/login'"
                    >
                        Logout
                    </button>
                </div>
            </div>
            <div
                class="ui container"
                style="
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 2rem;
                "
            >
                <div
                    class="ui padded very raised text segment"
                    id="msg-list"
                    style="height: 80vh; overflow-y: auto; padding: 1rem"
                ></div>
                <div class="ui fluid action input">
                    <input
                        type="text"
                        placeholder="Enter your message"
                        id="msg-input"
                    />
                    <select
                        class="ui search dropdown"
                        multiple=""
                        id="contact-select"
                    ></select>
                    <div class="ui teal button" id="image-button">
                        <i class="far fa-file-image"></i>
                    </div>
                    <div class="ui blue button" id="msg-button">Send</div>
                </div>
                <input
                    type="file"
                    name="image"
                    id="image-input"
                    style="display: none"
                    accept="image/*"
                />
            </div>
        </div>
        <script>
            $(".ui.search.dropdown").dropdown();
            const contactSelect = document.getElementById("contact-select");
        </script>
    </body>
</html>
